
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>
	<title>Nome da Obra</title>
</head>
<body>
	<div>
		<center><h1>Hosanna in excelsis</h1></center>
		<center>
			<b>Informação</b>
			<table border="1">
				<tbody>
					<tr>
						<td><b>Código</b> </td>
						<td>m70</td>
					</tr>
					<tr>
						<td><b>Título</b> </td>
						<td>Hosanna in excelsis</td>
					</tr>
					<tr>
						<td><b>Tipo/Classe</b> </td>
						<td>Marcha de Procissão</td>
					</tr>
					<tr>
						<td><b>Compositor</b> </td>
						<td>Oscar Navarro</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>
	<div style="text-align: center; padding: 1em; margin-top: 1em; margin-bottom: 1em;">
		<iframe width="450" height="300" src="https://www.youtube.com/embed/jgyPWvaYaKM" frameborder="0" allowfullscreen="1">.</iframe>
		<address>[<a href="http://localhost/aula9/gestobras/consultObra.html">Voltar ao menu principal</a>]</address>
	</div>
</body>
</html>