PUSHI 12
PUSHI 14
PUSHI 16
PUSHI 18
PUSHI 20
PUSHI 2
PUSHI 3
PUSHI 1
PUSHI 4
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START

\\if then else
PUSHGP
PUSHI 0
PADD
PUSHI 4
LOADN
PUSHI 20
EQUAL
JZ senao1 
PUSHS "]"
PUSHG 12
STRI
PUSHS ","
PUSHG 11
STRI
PUSHS ","
PUSHG 10
STRI
PUSHS ","
PUSHG 9
STRI
PUSHS ","
PUSHG 8
STRI
PUSHS ","
PUSHG 7
STRI
PUSHS ","
PUSHG 6
STRI
PUSHS ","
PUSHG 5
STRI
PUSHS ","
PUSHG 4
STRI
PUSHS ","
PUSHG 3
STRI
PUSHS ","
PUSHG 2
STRI
PUSHS ","
PUSHG 1
STRI
PUSHS ","
PUSHG 0
STRI
PUSHS "["
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
WRITES
JUMP fse1 
senao1: NOP 
READ
ATOI
STOREG 13
fse1: NOP 

\\if then else
PUSHI 12
PUSHI 13
EQUAL
NOT
JZ senao2 
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
PUSHS "\n"
WRITES
JUMP fse2 
senao2: NOP 
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
STOREG 13
fse2: NOP 
STOP
