PUSHI 1
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 5
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 10
START

\\if then else
PUSHGP
PUSHI 0
PADD
PUSHI 5
LOADN
PUSHI 2
SUP
JZ senao1 
PUSHI 20
STOREG 10
JUMP fse1 
senao1: NOP 
PUSHI 11
STOREG 10
fse1: NOP 
STOP
