PUSHI 1
PUSHI 2
PUSHI 4
PUSHI 5
PUSHI 0
PUSHI 0
PUSHI 4
PUSHN 122
PUSHI 0
PUSHI 20
PUSHI 1
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 5
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 10
START

\\if then else
PUSHGP
PUSHI 131
PADD
PUSHI 5
LOADN
PUSHI 2
SUP
JZ senao1 

\\while
ciclo1: NOP 
PUSHI 1
PUSHI 1
ADD
PUSHI 2
EQUAL
JZ fciclo1 
PUSHG 130
PUSHI 20
ADD
STOREG 130
JUMP ciclo1 
fciclo1: NOP 
PUSHG 130
PUSHI 1
ADD
STOREG 130
JUMP fse1 
senao1: NOP 

\\if then else
PUSHG 141
PUSHI 2
SUPEQ
JZ senao2 
PUSHI 3
STOREG 130
JUMP fse2 
senao2: NOP 
PUSHS "]"
PUSHG 4
STRI
PUSHS ","
PUSHG 3
STRI
PUSHS ","
PUSHG 2
STRI
PUSHS ","
PUSHG 1
STRI
PUSHS ","
PUSHG 0
STRI
PUSHS "["
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
WRITES
fse2: NOP 
fse1: NOP 
READ
ATOI
STOREG 5
PUSHI 5
STOREG 141
PUSHGP
PUSHI 7 
PADD
PUSHI 12
LOADN
PUSHI 5
STOREN
PUSHS "]"
PUSHG 4
STRI
PUSHS ","
PUSHG 3
STRI
PUSHS ","
PUSHG 2
STRI
PUSHS ","
PUSHG 1
STRI
PUSHS ","
PUSHG 0
STRI
PUSHS "["
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
CONCAT
WRITES
PUSHGP
PUSHI 0 
PADD
PUSHI 2
LOADN
PUSHI 1
PUSHI 1
ADD
STOREN
PUSHG 6
PUSHI 4
MUL
STOREG 6
PUSHI 44
PUSHI 2
ADD
STOREG 141
STOP
