<!DOCTYPE html>
<html lang="pt">
<head>
	<meta char-set="utf8"/>
	<title>PESSOA 1</title>
	<style type="text/css">
  	#wrapper
    {
	    text-align:center;
	    margin-top:0px;
	    margin-bottom:0px;
	    padding:0px;
    }
	</style>
</head>
<body>
	<div id="wrapper">
		<p align="center"><font size=6>PESSOA 1</font></p>
		<br><br>
		<div id="FOTO">
			<hr color="black" size="3" width="80%"> 
				<ul>
				   <p><b>Isto &eacute o facto da pessoa (default: "(sem t&iacutetulo)")</b></p>
				   <img src="022-F-03.PNG" style="width:420px;height:328px" title="CENAS">
				   <p><i>Data: 6/12/2014 (default: "(sem data)")</i></p>
				   <p>Este texto &eacute uma legenda (default: n&atildeo colocar nada)</p>
				</ul>
			<hr color="black" size="3" width="80%"> 	
		</div>
	</div>
</body>
</html>
					
