<!DOCTYPE html>
<html lang="pt">
<head>
	<meta char-set="utf8"/>
	<title>Album Museu Pessoa</title>
	<style type="text/css">
  	#wrapper
    {
	    text-align:center;
	    margin-top:0px;
	    margin-bottom:0px;
	    padding:0px;
    }
	</style>
</head>
<body>
	<div id="wrapper">
		<nav>
			<center><font size="22">Album Museu da Pessoa</font></center><br>
			<center> <font size="10">&Iacutendice</font></center><br>
			<ul>
				<p align="center" class="scroll"><a href="file:///home/danielcaldas/Desktop/Exercicio1/antonio.html">Ant&oacutenio Machado</a></p>
				<p align="center" class="scroll"><a href="file:///home/danielcaldas/Desktop/Exercicio1/fausto.html">Fausto Gomes</a></p>
				<p align="center" class="scroll"><a href="file:///home/danielcaldas/Desktop/Exercicio1/taberna.html">Taberna do Fausto</a></p>
				<p align="center" class="scroll"><a href="file:///home/danielcaldas/Desktop/Exercicio1/neca.html">Neca Chamin&eacute</a></p>
			</ul>
		</nav>
		<br><br>
		<footer>
			<p><b>Grupo de trabalho</b></p>
			<p><i>Daniel Caldas a67691 / Marcelo Gon&ccedilalves a67736 / Ricardo Silva a67728</i></p>
		</footer>
	</div>
</body>
</html>
					
